footer {
  margin: 11px 0 0;
  padding: 1.8rem 3rem;
  background: #9d774f;
  color: #fff;
  font-size: 1.2rem;

  .container {
    position: relative;
  }

  .facebook-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate3d(0, -50%, 0);
    line-height: 0;
  }
}
