header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  //padding: 11px 11px 0;
  box-sizing: border-box;
  border: 11px solid #fff;
  border-bottom: none;
  // background: #fff;
  z-index: 2;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 6rem;
    background-color: rgba(200, 176, 156, 1);
    text-align: center;

    @media screen and (min-width: $dekstop-breakpoint) {
      text-align: left;
    }
  }

  .brand {
    line-height: 0;
    margin: 0 11px;
    font-family: "cervo_neuebold_neue", Tahoma, Geneva, sans-serif;
    flex-grow: 2;

    @media screen and (min-width: $dekstop-breakpoint) {
      flex-grow: 0;
    }
  }

  .facebook-icon {
    display: none;
    margin-right: 3rem;

    @media screen and (min-width: $dekstop-breakpoint) {
      display: block;
    }
  }

  .hamburger {
    margin: 4px 15px 0 0;

    @media screen and (min-width: $dekstop-breakpoint) {
      display: none;
    }
  }

  .nav-primary {
    display: none;
    position: fixed;
    top: 7rem;
    left: 0;
    width: 100%;
    height: calc(100% - 7rem);
    background: #e8cda9;
    border: 11px solid $white-font;
    border-top: none;
    box-sizing: border-box;
    color: $white-font;
    overflow-y: scroll;

    &.nav-primary--show {
      display: block;
    }

    @media screen and (min-width: $dekstop-breakpoint) {
      display: block;
      position: relative;
      top: 0;
      width: auto;
      height: 6rem;
      background: none;
      border: none;
      flex-grow: 1;
      overflow-y: inherit;
    }

    ul.nav {
      padding: 10px 0;

      @media screen and (min-width: $dekstop-breakpoint) {
        display: flex;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      a {
        display: inline-block;
        width: 100%;
        padding: 24px 40px;
        font-size: 2.8rem;
        text-transform: uppercase;
        cursor: pointer;
        white-space: nowrap;
        color: #fff;
        transition: 0.2s color;
        box-sizing: border-box;

        @media screen and (min-width: $dekstop-breakpoint) {
          //width: auto;
          padding: 0;
          font-size: inherit;
        }
      }

      & > li {
        position: relative;

        @media screen and (min-width: $dekstop-breakpoint) {
          text-align: center;

          & > a:hover,
          &.current-menu-parent > a,
          &.current-menu-item > a {
            color: #664a3f;
          }
        }
      }

      li {
        text-align: left;

        @media screen and (min-width: $dekstop-breakpoint) {
          line-height: 6rem;
        }

        &.current-menu-item > a {
          background: rgb(212, 189, 158);

          @media screen and (min-width: $dekstop-breakpoint) {
            background: none;
          }
        }

        .sub-menu {
          display: none;

          @media screen and (min-width: $dekstop-breakpoint) {
            position: absolute;
            top: 100%;
            left: 0;
          }

          .menu-item {
            @media screen and (min-width: $dekstop-breakpoint) {
              display: inline-block;
              width: 100%;
              background: #e7caa5;

              &:hover {
                background: #d2b392;
              }
            }

            a {
              padding: 20px 40px;
              font-size: 1.8rem;
              text-transform: none;

              @media screen and (min-width: $dekstop-breakpoint) {
                padding: 0 108px 0 18px;
                font-size: inherit;
              }
            }
          }
        }

        &.current-menu-parent {
          .sub-menu {
            display: block;

            @media screen and (min-width: $dekstop-breakpoint) {
              display: none;
            }
          }
        }
      }

      li:hover {
        .sub-menu {
          display: block;
        }
      }
    }
  }
}

body.home {
  header {
    .container {
      height: 6.4rem;
      background-color: rgba(157, 119, 79, 0.56);
    }

    .nav-primary {
      top: 7.4rem;
      height: calc(100% - 7.4rem);

      @media screen and (min-width: $dekstop-breakpoint) {
        top: 0;
        height: 6.4rem;
      }

      ul.nav {
        li {
          @media screen and (min-width: $dekstop-breakpoint) {
            line-height: 6.4rem;
          }
        }
      }
    }
  }
}
