.template-contact,
.template-shops {
  & > .container {
    padding-top: 6rem;
    box-sizing: border-box;
  }

  .blocks {
    .block {
      min-height: calc(100vh - 12rem - 22px);
      margin: 0;

      .block__text {
        align-items: flex-start;
        padding: 108px 75px;
      }
    }
  }

  .stroke {
    display: block;
    margin: 3.6rem 0 3.6rem -225px;

    @media screen and (min-width: $dekstop-breakpoint) {
      margin: 3.6rem 0 3.6rem -75px;
    }
  }
}

.template-shops {
  .shops {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (min-width: 480px) {
      flex-direction: row;
    }

    .shop {
      margin-bottom: 1em;

      @media screen and (min-width: 480px) {
        width: 50%;
      }
    }
  }
}

.template-products {
  margin: 11px 0 0;
  padding-top: 60px;

  & > .container {
    height: 100%;
    min-height: 0;
  }

  footer {
    margin-top: 0;
  }

  .scroll-down {
    left: -5.5px;
    bottom: 25px;
    transform: translate3d(-50%, 0, 0);

    &.scroll-down--wide-site {
      left: 50%;
    }
  }

  @media screen and (max-width: 1599px) {
    .scroll-down--wide-site {
      display: none;
    }
  }

  @media screen and (min-width: 1600px) {
    .scroll-down--narrow-site {
      display: none;
    }

    .grid__item--6 {
      .scroll-down {
        left: calc(150% - 11px);
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.template-about {
  .header-background {
    position: relative;
    width: 100%;
    height: 378px;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $tablet-portrait-breakpoint) {
      height: 550px;
    }

    @media screen and (min-width: $dekstop-breakpoint) {
      height: 100vh;
    }
  }

  @media screen and (min-width: $dekstop-breakpoint) {
    header .nav-primary ul.nav {
      .sub-menu .menu-item {
        background: #996842;

        &:hover {
          background: #c98945;
        }
      }
    }
  }

  .blocks {
    .block:nth-child(odd) {
      flex-direction: column;

      @media screen and (min-width: $tablet-portrait-breakpoint) {
        flex-direction: row-reverse;
      }

      & > div {
        background-color: rgb(247, 239, 216);
      }
    }
  }

  .stroke {
    display: block;
    margin: 45px 0 0 -300px;

    @media screen and (min-width: $tablet-portrait-breakpoint) {
      margin: 75px 0 0 -250px;
    }

    @media screen and (min-width: $dekstop-breakpoint) {
      margin: 75px 0 0 -86px;
    }
  }
}
