.blocks {
  .block {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 734px;
    margin: 11px 0 0;

    @media screen and (min-width: $tablet-portrait-breakpoint) {
      flex-direction: row;
    }

    & > div {
      @media screen and (min-width: $tablet-portrait-breakpoint) {
        width: calc(50% - 5.5px);
      }

      background: #f0cf9c;
    }

    .block__title {
      font-size: 3rem;
      font-family: "cervo_neuebold_neue", Tahoma, Geneva, sans-serif;
      text-align: center;
      margin-bottom: 1.5em;
    }

    .block__text {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 45px;
      box-sizing: border-box;

      @media screen and (min-width: $dekstop-breakpoint) {
        padding: 75px;
      }
    }

    .block__image {
      height: 387px;
      margin-top: 11px;
      background-position: center;
      background-size: cover;

      @media screen and (min-width: $tablet-portrait-breakpoint) {
        height: auto;
        margin-top: 0;
      }
    }
  }
}
