.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  margin: 0 5.5px;

  .grid__item {
    position: relative;
    width: calc(50% - 11px);
    margin: 0 5.5px 11px 5.5px;
    // overflow: hidden;
    cursor: pointer;

    &.grid__item--empty,
    &.grid__item--category {
      cursor: auto;
    }

    .title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      opacity: 0;
      transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) opacity;

      span {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate3d(0, -50%, 0);
        width: 100%;
        font-size: 2.2rem;
        line-height: 2.4rem;
        color: #fff;
        white-space: pre-wrap;
        text-align: center;

        @media screen and (min-width: $tablet-portrait-breakpoint) {
          font-size: 3.2rem;
          line-height: 4.2rem;
        }
      }
    }

    &:nth-child(3n+1) {
      .title {
        background-image: url("../images/product_title_background_1.jpg");
      }
    }

    &:nth-child(3n+2) {
      .title {
        background-image: url("../images/product_title_background_2.jpg");
      }
    }

    &:nth-child(3n+3) {
      .title {
        background-image: url("../images/product_title_background_3.jpg");
      }
    }

    @media screen and (min-width: $tablet-portrait-breakpoint) {
      width: calc((100% / 3) - 11px);
    }

    @media screen and (min-width: $tablet-landscape-breakpoint) {
      width: calc(25% - 11px);
    }

    @media screen and (min-width: 1600px) {
      width: calc(20% - 11px);
    }

    &.grid__item--empty {
      display: none;
    }

    .container {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .thumbnail {
      display: block;
      width: 100%;
      height: auto;
      opacity: 0;
      transition: 0.4s opacity cubic-bezier(0.25, 0.46, 0.45, 0.94);

      &.loaded {
        opacity: 1;
      }
    }

    &:hover {
      .title {
        opacity: 1;
      }
    }
  }
}
