html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-family: "cervo_neueregular_neue", Tahoma, Geneva, sans-serif;
  color: $brown-font;
  background: #fff;
  margin: 11px 11px 0;
  overflow-x: hidden;

  &.overlay {
    & > * {
      filter: blur(8px);
    }
  }

  & > .container {
    height: 100%;
    min-height: calc(100vh - 8rem);
  }

  &.menu-active {
    overflow: hidden;

    header {
      .container {
        background-color: #c8b39c !important;
      }
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

strong {
  font-family: "cervo_neuebold_neue", Tahoma, Geneva, sans-serif;
}

