/** Import Bootstrap functions */
// @import "~bootstrap/scss/functions";

$brown-font: rgb(150, 101, 93);
$white-font: #fff;

$tablet-portrait-breakpoint: 768px;
$tablet-landscape-breakpoint: 1024px;
$dekstop-breakpoint: 1200px;
