.scroll-down,
.scroll-up {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  cursor: pointer;
  z-index: 1;

  @media screen and (min-width: $dekstop-breakpoint) {
    display: block;
  }
}

.scroll-up {
  transform: rotate(180deg) translate3d(-50%, 0, 0);
  transform-origin: left;
}

.hamburger {
  display: inline-block;
  color: inherit;

  .hamburger-box {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 30px;
  }

  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    position: absolute;
    width: 35px;
    height: 4px;
    transition: 0.15s ease transform;
    background-color: #fff;
  }

  .hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-duration: 75ms;
  }

  .hamburger-inner::after,
  .hamburger-inner::before {
    display: block;
    content: "";
  }

  .hamburger-inner::before {
    top: -12px;
    transition: top 75ms ease 0.12s, opacity 75ms ease;
  }

  .hamburger-inner::after {
    bottom: -12px;
    transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &.hamburger--active {
    .hamburger-inner {
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: rotate(45deg);
    }

    .hamburger-inner::before {
      top: 0;
      transition: top 75ms ease, opacity 75ms ease 0.12s;
      opacity: 0;
    }

    .hamburger-inner::after {
      bottom: 0;
      transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
      transform: rotate(-90deg);
    }
  }
}
