.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.lightbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: none;
  background: #e8cda9;
  border: 5px solid #fff;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  filter: none !important;
  z-index: 4;

  .lightbox__image {
    display: block;
    margin: 0 auto;
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 75px);

    @media screen and (min-width: $tablet-portrait-breakpoint) {
      height: 100%;
      width: auto;
      max-height: 650px;
    }
  }

  .lightbox__button {
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    cursor: pointer;

    &.lightbox__button--prev,
    &.lightbox__button--next {
      display: none;

      @media screen and (min-width: $tablet-portrait-breakpoint) {
        display: block;
      }
    }

    &.lightbox__button--prev {
      left: 0;
    }

    &.lightbox__button--next {
      left: 100%;
      transform: translate3d(-50%, -50%, 0) rotate(180deg);
    }

    &.lightbox__button--close {
      top: 10px;
      right: 10px;
      left: auto;
      transform: translate3d(0, 0, 0);
    }
  }
}
